.recharts-cartesian-axis-tick tspan {
    font-size: 14px;
    font-weight: 500;
    fill: #9B9EAC
}

.recharts-legend-item-text {
    margin-left: 10px;
    font-size: 14px;
}

.graph-1-title {
    color: black;
    top: 10px;
    left: 10px
}

.custom-tool-tip {
    background-color: #E60000;
    width: 40px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tool-tip-text {
    font-weight: 500;
    font-size: 7px;
    color: #FFFFFF;
    text-align: center;
}
