.dashboard-left-bar {
    width: 116px;
    background-color: black;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:90px;
    z-index: 200
}

.dashboard-left-bar nav {
    margin: auto;
}

.copyright-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    font-family: var(--main-font);
    font-size: 12px;
    height: 150px;
    display: block;
    position: relative;
    margin-bottom: 60px;
}