
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

:root {
    --main-font: "Roboto", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
  }

*:focus-visible {
    outline: -webkit-focus-ring-color auto 0px
}

body, html {
    height: 100%;
}

#root {
    height: 100%;
}